openapi: 3.1.0
info:
  title: PersonalDB API
  version: "1.0"
  description: API for storing and managing personal items

servers:
  - url: https://brodiegroch.ca
    description: Production server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication

paths:
  /api/gpt/upsert:
    post:
      operationId: upsertItem
      summary: Create or update an item
      description: Stores or updates an item in the database
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type:
                  type: string
                  enum: [task, note, event, metric]
                  description: Type of item to store
                data:
                  type: object
                  additionalProperties: true
                  description: Item data as JSON object
            example:
              type: task
              data:
                title: "Example task"
                completed: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        "401":
          description: Unauthorized
        "413":
          description: Payload too large
        "500":
          description: Server error

  /api/gpt/items:
    get:
      operationId: listItems
      summary: List stored items
      description: Retrieve items from the database
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [task, note, event, metric]
          description: Filter by item type
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Maximum items to return
      responses:
        "200":
          description: List of items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    data:
                      type: object
                    updated_at:
                      type: string
                      format: date-time

    delete:
      operationId: deleteItem
      summary: Delete an item
      description: Remove an item from the database
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: ID of item to delete
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
