openapi: 3.1.0
info:
  title: PersonalDB
  version: "1.0.0"

servers:
  - url: https://brodiegroch.ca
    description: Production server

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication
  
  schemas:
    Item:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [task, note, event, metric]
        data:
          type: object
          additionalProperties: true
        updated_at:
          type: string
          format: date-time
    
    UpsertRequest:
      type: object
      required: [type, data]
      properties:
        type:
          type: string
          enum: [task, note, event, metric]
          description: Type of item
        data:
          type: object
          additionalProperties: true
          description: Item data
    
    SuccessResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: true
    
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message

paths:
  /api/gpt/upsert:
    post:
      operationId: upsertItem
      summary: Create or update an item
      security:
        - api_key: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, data]
              properties:
                type:
                  type: string
                  enum: [task, note, event, metric]
                  description: Type of item to store
                data:
                  type: object
                  additionalProperties: true
                  description: Item data (any JSON object)
            examples:
              task:
                value:
                  type: task
                  data:
                    title: "Complete project"
                    priority: "high"
                    due_date: "2024-12-31"
              note:
                value:
                  type: note
                  data:
                    content: "Meeting notes from today"
                    tags: ["work", "important"]
      responses:
        "200":
          description: Item successfully created or updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Bad request (invalid type or data)
        "401":
          description: Unauthorized (missing or invalid API key)
        "413":
          description: Payload too large (>8KB)
        "500":
          description: Internal server error

  /api/gpt/items:
    get:
      operationId: listItems
      summary: List stored items
      security:
        - api_key: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
            enum: [task, note, event, metric]
          description: Filter by item type
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Maximum number of items to return
        - in: query
          name: since
          schema:
            type: string
            format: date-time
          description: Return items updated after this time
      responses:
        "200":
          description: List of items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                    data:
                      type: object
                    updated_at:
                      type: string
                      format: date-time
        "401":
          description: Unauthorized

    delete:
      operationId: deleteItem
      summary: Delete an item
      security:
        - api_key: []
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
          description: ID of item to delete
      responses:
        "200":
          description: Item deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "401":
          description: Unauthorized
        "404":
          description: Item not found

